click==8.1.7
contourpy==1.2.0
cycler==0.12.1
Cython==3.0.8
fabio==2023.10.0
fonttools==4.48.1
h5py==3.10.0
hdf5plugin==4.3.0
imageio==2.33.1
kiwisolver==1.4.5
lazy_loader==0.3
llvmlite==0.42.0
lxml==5.1.0
markdown-it-py==3.0.0
matplotlib==3.8.2
mdurl==0.1.2
msgpack==1.0.7
msgpack-numpy==0.4.8
networkx==3.2.1
numpy==1.26.4
ondamonitor==23.8.3
packaging==23.2
pandas==2.2.0
pillow==10.2.0
Pygments==2.17.2
pyparsing==3.1.1
python-dateutil==2.8.2
pytz==2024.1
PyYAML==6.0.1
pyzmq==25.1.2
rich==13.7.0
ruamel.yaml==0.18.6
ruamel.yaml.clib==0.2.8
scikit-image==0.22.0
scipy==1.12.0
six==1.16.0
tifffile==2024.1.30
tzdata==2023.4
